*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body
{
    background-color: rgb(225,127,0);
}

.container-title h1
{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e4e4e4;
}

.container-data
{
    width: 100%;
    height: calc(100vh-5rem);
    /* background-color: green; */
    display: flex;
}

.container-form
{
    width: 25%;
    height: fit-content;
    margin: 1rem;
    padding: 1rem;
    padding-left: 0.01rem;
    padding-right: 0.01rem;
    border-radius: 0.6rem;
    text-align: center;
    background-color: rgb(43,43,43);
}

h3
{
    margin: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
    color: #e4e4e4;
}

.input-nombre,
.input-apellido,
.input-documento
{
    width: auto;
    height: auto;
    display: flex;
    margin: 0.5rem;
    align-items: center;
    color: #e4e4e4;
}

.input-nombre label,
.input-apellido label,
.input-documento label
{
    width: 35%;
    text-align: start;
}

.input-nombre input,
.input-apellido input,
.input-documento input
{
    width: 70%;
    height: 1.7rem;
    border-radius: 0.3rem;
    border: 0;
    padding-left: 0.5rem;
}

.btn-agregar
{
    margin-top: 0.5rem;
    padding: 0.3rem 1.5rem;
    border-radius: 0.3rem;
    border: 0;
    background-color: rgb(221, 128, 15);
    color: #e4e4e4;
    font-size: 1rem;
    transition: 0.5s;
}

.btn-agregar:hover
{
    background-color: rgb(3, 100, 70);
    background-color: rgb(241, 173, 90);
    color:red;
    transition: 0.5s;
}

.container-data-list
{
    width: 75%;
    height: fit-content;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.6rem;
    text-align: center;
    background-color: rgb(43, 43, 43);
    color: #e4e4e4;
}

.table-usuarios
{
    width: 100%;
    color: #e4e4e4;
    border: 1px solid #e4e4e4 ;
    border-radius: 0.3rem;
}

.table-usuarios thead
{
    background-color: rgb(3,100,70);
    background-color: rgb(221, 128, 15);
    height: 1.5rem;
    border: 2px solid #e4e4e4;
    border-radius: 0.3rem;
}

.btn
{
    width: 40%;
    height: 2rem;
    margin: 0.3rem;
    border-radius: 0.2rem;
    border: 0;
    outline: none;
    color: #e4e4e4;
}

.btn-editar
{
    background-color: rgb(91, 93, 233);
}

.btn-editar:hover
{
    background-color: rgb(40, 43, 243);
    outline: 2px solid white;
}

.btn-borrar
{
    background-color: rgb(200, 25, 0);
}

.btn-borrar:hover
{
    background-color: rgb(140, 19, 0);
    outline: 2px solid white;
}

.btn-generar-pdf
{
    width:20%;
    height:2rem;
    /* background-color: rgb(0, 180, 120); */
    background-color: rgb(245, 42, 42);
    border: 2px solid #e4e4e4;
    font-weight: bold;
    margin-top: 1rem;
}

.btn-generar-pdf:hover
{
    background-color: rgb(3, 100, 70);
}

.swal-modal
{
    border: 5px solid rgb(245, 42, 42);
    border-radius: 15px;
    box-shadow: 8px 8px 10px black;
    text-align: center;
}

video
{
    width: 24%;
    height: fit-content;
    margin: 1rem;
    border-radius: 0.6rem;
}